<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>云存储管理系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <div id="app"></div>
    <% if (webpackConfig.mode === 'development') { %>
    <script src="https://cdn.jsdelivr.net/npm/react@16.13/umd/react.development.min.js"></script>
    <% } else { %>
    <script src="https://cdn.jsdelivr.net/npm/react@16.13/umd/react.production.min.js"></script>
    <% } %>
    <script src="<%= htmlWebpackPlugin.files.js[1] %>"></script>
    @foreach ($scripts as $script)
    <script src="{{ $script }}"></script>
    @endforeach
    <script src="<%= htmlWebpackPlugin.files.js[0] %>"></script>
  </body>
</html>
